@model IEnumerable<LocalAssets>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["ResultOk"] != null)
{
    <h1 class="alert-success">@TempData["ResultOk"]</h1>
}

<style lang="cs">
    .oneline{
        display: block;
    }

    .image-container {
        width: 300px; 
        height: 200px; 
        overflow: hidden; 
        position: relative; 
    }

        .image-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

</style>
<div>
    <h2 style="color:#A3C2F4">Hong Kong New Territories West Cluster</h2>
</div>
<div class="container shadow p-5">
    <table>
        <tr style="height:250px;">
            <td style="width:400px;" align="left" valign="top">
                <div class="container shadow p-5">
                    <span class="oneline">Server OS: Windows Server 2019 Standard </span>
                    <span class="oneline">MS SQL Server Version: Microsoft SQL Server 2019 Standard</span>
                    <span class="oneline">Phyical Memory: 16GB</span>
                    <span class="oneline">CPU: Intel64 Family 6 Model 142 Stepping 12 GenuineIntel ~1803 Mhz</span>
                </div>
            </td>
            <td rowspan="2" style="width:100%;height:700px; gap: 10px;" valign="middle">
                <div class="container shadow" style="height:700px;">
                    <table style="width:100%;height:100%">
                        <tr style="height:50%;border:solid #E2F29A 1px">
                            <td style="width:50%; height:50%">
                                <div class="container shadow">
                                    <div class="image-container">
                                        <img alt="" src="~/images/CabImages/1/DiskSpace.png" />
                                    </div>
                                </div>
                            </td>
                            <td style="height:50%;border:solid #E2F29A 1px">
                                <div class="container shadow">
                                    <span style="font-size:20px;">S/N: 18-4X-5892</span><br/>
                                    <span style="font-size:20px;">S/N: 20-5X-1234</span><br />
                                    <span style="font-size:20px;">S/N: 22-5X-5901</span><br />

                                </div>
                            </td>
                        </tr>
                        <tr style="height:50%;border:solid #E2F29A 1px">
                            <td>
                                ADC OS: Windows 11 Pro<br/>
                                ADC Memory: 16GB<br/>
                                ADC CPU: 13th Gen Intel(R) i7-1370P 1.9GHz<br />
                                Date of manufacture: 2020<br/>
                                Firmware version: F8
                            </td>
                            <td style="height:50%;border:solid #E2F29A 1px">
                                <div class="container shadow">
                                    <div class="image-container">
                                        <img id="cabimg" alt="" src="~/images/CabImages/1/Cab.png" />
                                    </div>
                                </div>                                
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr style="height:450px;">
            <td align="left" valign="top">
                <div class="container shadow">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th scope="col">StationId</th>
                                <th scope="col">StationName</th>
                                <th scope="col">MedLogicVersion</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr style="cursor:pointer" onclick="switchImg(@item.StationId)">
                                    <td width="20%" >
                                        @item.StationId
                                    </td>
                                    <td width="20%">
                                        @item.StationName
                                    </td>
                                    <td width="20%">
                                        @item.MedLogicVersion
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>                
            </td>            
        </tr>
    </table>
</div>
<script type="text/javascript">

    function switchImg(id)
    {
        var cabimg = document.getElementById("cabimg");
        if(cabimg)
        {
            cabimg.src="../images/CabImages/"+ id +"/Cab.png"
        }
    }

</script>