@model IEnumerable<LocalAssets>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["ResultOk"] != null)
{
    <h1 class="alert-success">@TempData["ResultOk"]</h1>
}


<div class="container shadow p-5">

@*     <div class="col mb-3">
        <a asp-controller="Employee" asp-action="Create" class="btn btn-lg btn-primary"><i class="bi bi-file-plus-fill"></i>Add Employee</a>
    </div>
 *@    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">StationId</th>
                <th scope="col">StationName</th>
                <th scope="col">MedLogicVersion</th>
                <th scope="col">MedLogicInstallDate</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td width="20%">
                        @item.StationId
                    </td>
                    <td width="20%">
                        @item.StationName
                    </td>
                    <td width="20%">
                        @item.MedLogicVersion
                    </td>
                    <td width="25%">
                        @item.MedLogicInstallDate
                    </td>
                    @* <td>
                        <div role="group" class="w-60 btn-group">
                            <a asp-controller="Employee" asp-action="Edit" asp-route-id="@item.Id" class=" btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i>Edit</a>&nbsp;
                            <a asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i>Delete</a>
                        </div>
                    </td> *@
                </tr>
            }
        </tbody>
    </table>
</div>
